/* estilos del sitio web*/
h1 {
    color: black;
}

p {
    color: brown;
}

.colorParrafo {
    color: blue;
}

footer p {
    color: darkolivegreen;
}

footer {
    font-size: 45px;
}

.texto {
    color: crimson;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

body {
    background-color: #E6E3DA;
}

.contenedor{
    border: blue solid 3px;
    margin: 67px;
}
